---
// import '../scss/styles.scss'
import '../../css/styles.css'
import Head from './Head.astro'
import Nav from '../../Components/Nav.astro';
const props = Astro.props
// console.log(Astro.props)
---

<!DOCTYPE html>
<html lang="en">
<head>
    <Head {...props} />
</head>

<body> 
    <header class="site-header">
        <Nav />
    </header>

    <slot>This is the default message</slot>
</body>
</html>