---
import Base from '../layout/Base.astro'
---

<Base title="About">
    <h1>About Page</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo eaque soluta optio impedit dolore hic, exercitationem, illum quasi quas corrupti repellendus, dicta voluptas labore cupiditate placeat quis atque distinctio modi?</p>
</Base>