---
import Base from '../layouts/Base/Base.astro'
// This allows you to search for all your blog posts on this page
const posts = await Astro.glob('./blog/*')
// console.log(posts[0].frontmatter)

const sorted = posts.sort()
---

<Base title="Blog">
	<h1>Blog</h1>
    <!-- This is how this page 'gets' its content from your blog folder and blog post content: -->
    {posts.map(post => (
        <article>
            <h2>
                <a href={post.url}> {post.frontmatter.title} </a>
            </h2>
        </article>
    ))}

    <!-- <a href="/blog/first-post">First Post</a><br>
    <a href="/blog/first-post">Second Post</a> -->
</Base>