---
import { sortPosts } from '../utilities/blog'
import Base from '../layouts/Base/Base.astro'
import Article from '../Components/Article.astro'
// This allows you to search for all your blog posts on this page
const posts = await Astro.glob('./blog/*.md')
// console.log(posts[0].frontmatter)
const sorted = sortPosts(posts)
---

<Base title="Blog">
	<h1>Blog</h1>

    <!-- This is how this page 'gets' its content from your blog folder and blog post content: -->
    {sorted.map(post => (
        <Article {post} />
    ))}
</Base>