---
import {fetch} from '../utilities/sanity'
import Base from '../layouts/Base/Base.astro'
const query = '*[_type == "blogPost"]'
const data = await fetch(query)
const page = data[0]

console.log(page)
---

<Base title="Sanity Test-Page">
    <h1>{page.title}</h1>
    <p>{page.slug}</p>
</Base>