---
const {title} = Astro.props
---

<style>
    .card {
        border: 4px solid black;
    }

    .card h2 {
        color: green
    }
</style>

<div class="card">
    <h2>{title}</h2>
    <slot />
</div>